<div class="calculator__keys">
  <button class="key--operator" (click)="onClick('ac')">AC</button>
  <button class="key--operator" (click)="onClick('+/-')">+/-</button>
  <button class="key--operator" (click)="onClick('%')">%</button>
  <button class="key--operator--algebraic" (click)="onClick('/')">÷</button>
  <button (click)="onClick(7)">7</button>
  <button (click)="onClick(8)">8</button>
  <button (click)="onClick(9)">9</button>
  <button class="key--operator--algebraic" (click)="onClick('*')">x</button>
  <button (click)="onClick(4)">4</button>
  <button (click)="onClick(5)">5</button>
  <button (click)="onClick(6)">6</button>
  <button class="key--operator--algebraic" (click)="onClick('-')">-</button>
  <button (click)="onClick(1)">1</button>
  <button (click)="onClick(2)">2</button>
  <button (click)="onClick(3)">3</button>
  <button class="key--operator--algebraic" (click)="onClick('+')">+</button>
  <button (click)="onClick(0)"  class="key--zero">0</button>
  <button (click)="onClick(',')">,</button>
  <button class="key--operator--algebraic" (click)="onClick('=')">=</button>
</div>
